

{% extends 'base.html.twig' %}

{% block title %}Confirmation de Course{% endblock %}

{% block body %}
    <h1>Confirmation de Course</h1>

    <p>Votre course a été créée avec succès !</p>

    <h3>Détails de la Course :</h3>
    <ul>
        <li><strong>ID de la Course :</strong> {{ course.publicId }}</li>
        <li><strong>Nom du Chauffeur :</strong> {{ course.chauffeur.nom }} {{ course.chauffeur.prenom }}</li>
    </ul>

    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}
