{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="mapAndForm">
    <div class="form-container">

        <form action="{{ path('store_route_data') }}" method="post" onsubmit="return validateForm()">
            {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('store_route_data') }}"> #}
            <div class="form-group">
                <label for="departure">Point de Départ</label>
                <input type="text" id="departure" name="departure" placeholder="Point de Départ">
                <ul id="departure-suggestions" style="list-style: none;"></ul>
                <input type="hidden" id="startLat" name="startLat">
                <input type="hidden" id="startLng" name="startLng">
                <input type="hidden" id="startAddress" name="startAddress">
            </div>
            <div class="form-group">
                <label for="destination">Destination</label>
                <input type="text" id="destination" name="destination" placeholder="Destination">
                <ul id="destination-suggestions" style="list-style: none;"></ul>
                <input type="hidden" id="endLat" name="endLat">
                <input type="hidden" id="endLng" name="endLng">
                <input type="hidden" id="endAddress" name="endAddress">
                
            </div>
            <div class="form-group">
                <label>Choix du Véhicule</label>
                <div class="vehicle-buttons">
                    <button type="button" class="vehicle-btn" data-vehicle="Berline">Berline</button>
                    <button type="button" class="vehicle-btn" data-vehicle="Van">Van</button>
                </div>
                <input type="hidden" name="vehicle" id="selectedVehicle">
                <input type="hidden" id="selected-departure-address" />
                <input type="hidden" id="selected-destination-address" />
            </div>
            <div class="form-group">
                <label for="passengers">Nombre de passagers</label>
                <select id="passengers" name="passengers">
                    <option value="" disabled selected>Choisissez</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>

            <div class="form-groupe">
                <input type="hidden" id="clientTarif" name="clientTarif">
                <input type="hidden" id="clientDuration" name="clientDuration">
                <input type="hidden" id="clientDistance" name="clientDistance">
            </div>

            <div class="form-group">
                <button id="findChauffeurLink" class="btn" type="submit">Trouver un Chauffeur</button>
            </div>

        </form>
    </div>

    <div id="itinerary" style="display: none;">
        <h3>Route Details</h3>
        <div id="itinerary-steps"></div>
    </div>

    <div id="map"></div>

</div>

<div class="textAndImage">
    <div class="text-block upper">
        <h1>Text intro site</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
        <div class="text-block lower"></div>

    <div id="slideShow">
        <div id="splide" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide"><img src="{{asset('/images/chauffeurs/Chauffeur-Driver-Customer-Care-Course-1024x683.jpg')}}" alt="" style="width: 100%;"></li>
                    <li class="splide__slide">Slide 2</li>
                    <li class="splide__slide">Slide 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        new Splide('#splide',{
            type:'loop',
            perPage:1,
            autoplay:true,
        }).mount();
        const vehicleButtons = document.querySelectorAll('.vehicle-btn');
        const nbPassagerSelect = document.getElementById('passengers');

        const nbPassagers = {
            'Van':[1,2,3,4,5,6,7],
            'Berline':[1,2,3,4],
            'Default':[1,2,3,4,5,6,7],
        };

        vehicleButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // recup le type de véhicule
                const vehicule = button.getAttribute('data-vehicle');
    
                // vider la selection actuelle
                nbPassagerSelect.innerHTML = '<option value="" disabled selected>Choisissez</option>';
    
                // recup les options de passagers pour ce type de véhicule
                const options = nbPassagers[vehicule] || nbPassagers['default'];
    
                // remplir le select
                options.forEach(function(option) {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    nbPassagerSelect.appendChild(opt);
                });
    
                // souligne le bouton sélectionné
                vehicleButtons.forEach(btn => btn.classList.remove('selected')); 
                button.classList.add('selected');
            });
        });
    });

    function validateForm() {
        var departure = document.getElementById('departure').value;
        var destination = document.getElementById('destination').value;
        var selectedVehicle = document.querySelector('.vehicle-btn.active');
        var passengers = document.getElementById('passengers').value;

        if (departure === '' || destination === '' || !selectedVehicle || passengers === '') {
            alert('Veuillez remplir tous les champs et sélectionner un véhicule.');
            return false; // Empêche la soumission du formulaire
        }

        return true; // Permet la soumission normale du formulaire
    }

    // Ajoutez un écouteur d'événements pour capturer le clic sur le bouton véhicule
    document.querySelectorAll('.vehicle-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            document.querySelectorAll('.vehicle-btn').forEach(function(btn) {
                btn.classList.remove('active');
            });
            button.classList.add('active');
            const vehicleType = document.getElementById('selectedVehicle').value = button.getAttribute('data-vehicle');
            console.log(vehicleType);
        });
    });
</script>

{% endblock %}
